# Optional local runtime packages for analyze-exam-errors.
# This file is consumed by `python -m scripts.install_runtime`.
# It installs Python runtimes only. Local embedding model folders still need
# to be prepared separately and passed as --model-path plus --model-license.

[math]
sympy>=1.13,<2

[semantic-common]
numpy>=1.26,<3

[semantic-usearch]
usearch>=2.13,<3

[embedding-sentence-transformers]
sentence-transformers>=3,<4

[embedding-onnx]
onnxruntime>=1.19,<2
transformers>=4.44,<5
